body {
  background-color: var(--jonprimary);
}

/* Use a unique class for Jonathan's main element to avoid conflicts */

.jon {
  background-color: var(--jonbackground);
}

.jon-main {
  background-image: var(--jonsecondary);
}

/* PHOTO GALLERY STYLES */
.jon .photo-gallery {
  background-image: var(--jonsecondary);
}

.jon .thumbnail-box {
  background-color: var(--jonprimary);
}

/* PHOTO NAVIGATION */
.jon .nav-button {
  background: var(--jonprimary);
}

.jon .nav-button i {
  color: var(--jonsecondary-solid);
}

.jon .nav-button:hover {
  background: var(--jonprimary-text);
}

.jon .photo-plate {
  background-image: var(--jonsecondary);
}

.jon .photo-plate h2 {
  color: var(--jonprimary-text);
}

.jon .plate-description {
  background-color: var(--jonbackgroundtransparent);
}

/* MAIN NAVBAR INDIVIDUAL SETTINGS */

/* Jon active - set BG color and Text for rest of Inactive tabs */
.nav-jonathan a {
  color: var(--jonbackground);
  background-color: var(--jonprimarytransparent); /* Base color */
  /* border: 1px solid var(--jonbackground); */
}

/* Jon active - set BG color and Text for active tab */
.nav-jonathan li a.active {
  background-image: var(--jonprimary1) !important;
  color: var(--jonsecondary-solid) !important;
  border: 1px solid var(--jonbackgroundtransparent);
}

/* JONATHAN's SUB-NAVBAR SETTINGS */

.jonUlNav {
  background-image: var(--jonprimary2);
}

.jonUlNav a {
  color: var(--jonprimary-text);
}

.jonUlNav a.active {
  background-color: var(--jonbackgroundtransparent);
  color: var(--jonprimary-text-active);
}

/* Style audio controls to match theme */
.audio-player audio::-webkit-media-controls-panel {
  background-color: var(--jonprimary);
}
